<div ng-controller="taskctrl">
  <div class="jumbotron" style="text-align: center">
      <h1>
          swetha
      </h1>
  </div>
  
  <div class="row">
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="todovalue">
         </div>
         <div class="col-sm-4" ng-if="buttonToggle">
            <button class="btn btn-success btn-block" style="background-color:green" ng-click="add()"> Add</button>
            </div>
            <div class="col-sm-4" ng-if="!buttonToggle">
                   <button class="btn btn-success btn-block" style="background-color:green" ng-click="updateTodo()">update</button>
                   </div>
         </div>
         <ul class="list-group">
                <li class="list-group-item" ng-repeat="x in arr track  by  $index">
                   {{$index+1}}.{{x}}
                    <button style="float: right;"  style="background-color:blue"ng-click="swap(0,$index)" ng-if="!$first"><span class="glyphicon glyphicon-arrow-up"></span></button>
                    <button style="float: right;"  style="background-color:blue"ng-click="swap(1,$index)"ng-if="!$last"><span class="glyphicon glyphicon-arrow-down"></span></button>
                    <button style="float: right;"  style="background-color:green" ng-click="editTodo($index)"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button style="float: right;"  style="background-color:red"ng-click="deleteTodo($index)"><span class="glyphicon glyphicon-remove"></span></button>
                 </li>
         </ul>   
 </div>
